.contacto {

    .form-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;

        h1,
        p,
        div {
            width: 100%;
            text-align: center;
        }

        h1,
        p {
            max-height: 40px;
        }

        .btn-container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            height: 25px;
            max-width: 250px;

            button {
                width: 80px;
                padding: 5px;
            }
        }

        .form-view {
            min-height: 400px;
            max-width: 500px;

            form {
                height: 100%;
                grid-gap: 10px 5px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr) 5fr 1fr;

                input {
                    padding: 5px;
                    max-height: 80px;
                    max-width: 100%;
                }

                

                textarea,
                input[type='submit'] {
                    grid-column: 1 / span 2;
                }

                input[type='submit'] {
                    width: 80px;
                    margin: 0 auto;
                }
            }
        }

    }

}