@media (max-width: 991px) { 
    
}
@media (max-width: 768px) { 
    
    .services {
        .flex-container {
            div {
                background-color: purple;
                width: 40%;
            }
        }
    }

    .form-view {
        min-width: 300px;
        form {
            input::placeholder,
            input {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 480px) { 
    .services {
        .flex-container {
            div {
                background-color: purple;
                width: 100%;
            }
        }
    }
}
 