.selected-works {
    .grid-container {
        grid-gap: 10px;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(10%, 1fr));
        
        div{
            background-color: #f5f5f5;  
        }
    }
}