.selected-works {
    .grid-container {
        padding: 30px 10px;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
        div{
            background-color: #f5f5f5;
        }
    }
}