.services {

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        padding: 40px;
        justify-content: space-between;
        height: 100%;

        & > div {
            width: 30%;

            h2 {
                width: 100%;
            }
        }
        // align-items: space-around;
    }

    // .grid-container {
    //     padding: 40px;
    //     grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    //     grid-template-rows: repeat(auto-fit, minmax(86px, 1fr));
    //     grid-auto-rows: minmax(86px, 1fr);
    // }

}