.slideshow{
    width: 100%;
    height: 100%;
    margin: 0;
    // max-height: 500px;
    background-color: #f3f1f4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div{
        position: absolute;
    }
}

.slideshow-arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;

    i{
        font-size: 42px;
        
        &:hover{
            cursor: pointer;
        }
    }
}

.slideshow-container-slides{
    width: 100%;
    height: 100%;
    
    .slideshow-element{
        opacity: 0;
        background-attachment: center top;
        position: absolute;
        width: 100%;
        height: 100%;

        transition: all .3s ease;

        .slide-element-info{
            position: absolute;
            padding: 10px 20px;
            bottom: 0;
            left: 0;
            height: 170px;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.7);
            overflow: hidden;

            h3{
                margin-bottom: 15px;
            }

            p{
                text-align: justify;
                overflow: hidden;
            }
        }

        &.slideshow-active-element{
            opacity: 1;
            transition: all .7s ease;        
        }
    }

}

.slideshow-container-controls{
    width: 100%;
    bottom: 20px;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.slideshow-control{
    height: 15px;
    width: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #4c4ba0;
    border-style: solid;
    border-width: 1px;
    border-color: #77ffab;
    transition: background .7s ease;

    &:hover{
        background-color: #fafafa;
        cursor: pointer;
        transition: background .7s ease;
    }

    &.control-active{
        background-color: #77ffab;
    }
}